.card {
    width: auto;
    max-height: 200px;
    border-radius: 10px;
    background-color: var(--cores-card);

    @for $cor from 0 through 134 {
        &:nth-child(#{$cor}) {
            --cores-card: #{rgba(random(255), random(255), random(255), .7)};
        }
    }

    padding: 1rem;
    position: relative;
    overflow: hidden;
    transition: 300ms;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    &__title {
        color: #fff;
        font-weight: bold;
        font-size: 1.15em;
    }

    .pokemon {
        display: flex;
        justify-content: space-between;

        .texts {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1.1rem;

            &__atributos {
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 50px;
                padding: 5px 10px;
                width: fit-content;
                height: min-content;
                color: #fff;
                text-align: center;
            }
        }

        .imagem {

            &__pokemon {
                left: 20%;
                position: relative;
                z-index: 10;
            }

            &__background {
                position: absolute;
                z-index: 1;
                bottom: 0;
                right: 0;
                width: 50%;
            }
        }
    }
}